.card__flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .card__flex-wrapper {
    flex-direction: column;
    text-align: center;
  }
}
