.personal__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  max-width: 648px;
  box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6),
    0px 4px 16px rgba(231, 232, 235, 0.6);
  border-radius: 16px;
  margin: 0 0 24px 0;
}

.personal-data:last-child {
  margin: 0;
}
