.accordion-item__input {
  position: absolute;
  top:0;
  left: 0;
  opacity: 0;
}

.accordion-item__input:not(:disabled):not(:checked) + .accordion-item__trigger {
  cursor: pointer;
}

.accordion-item__input:focus + .accordion-item__trigger {
  cursor: pointer;
}

.accordion-item__input:checked + .accordion-item__trigger::before {
  transform: rotate(180deg);
}

.accordion-item__input:checked ~.accordion-item__content {
  display: block;
}
