.card__status {
  background: #E6E7EB;
  border-radius: 16px;
  padding: 0 8px;
  margin-top: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

