.menu-item__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.menu-item__input:checked + .menu-item__label {
  color: #F06000;
}

.menu-item__input:checked + .menu-item__label::before {
  background: url(../../../images/menu_active.png) no-repeat center/cover;
  border: none;
}
