.personal {
  max-width: 984px;
  display: grid;
  gap: 24px;
  grid-template-columns: minmax(400px, 65.85%) 31.7%;
}

@media screen and (max-width: 680px) {
  .personal {
    display: flex;
    flex-direction: column;
  }
}
