.card__status_position_boxForActiveInput {
  display: inline-block;
  max-width: 312px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 6px;
  line-height: 20px;
  padding-right: 0;
  margin-bottom: 0;
}
