.personal-card__skill {
  background-repeat: no-repeat;
  background-position: left center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #212329;
  padding-left: 30px;
  margin-bottom: 16px;
}

.personal-card__skill:last-of-type {
  margin-bottom: 0;
}
