.button {
  height: 48px;
  border-radius: 16px;
  font-family: Golos;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  transition: opacity .5s ease;
}

.button:hover {
  opacity: .7;
}
