.menu-item__label {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.menu-item__label::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 10px;
}

.menu-item:checked + .menu-item__label {
  color: #f06000;
}

.menu-item:checked + .menu-item__label::before {
  background: url(../../../images/menu_active.png) no-repeat center/cover;
  border: none;
}
